extends layout

block content

    div(class="jumbotron")
        h1='修改密码'
        script
            include ../public/javascripts/showchangepwd.js
        div(id='login', class="container")
            form(action="./changepwd" method = 'POST' id='changepwdbox')
                label(for ='oldpwd') 原密码：
                input(id = 'oldpwd', type='password', name='oldpwd',
                placeholder='原密码', minlength ='5')
                br
                label(for ='newpwd') 新密码：
                input(id = 'newpwd', type='password', name='newpwd',
                placeholder='不少于5位', minlength ='5')
                br
                label(for ='passwordConfirmation') 确认新密码：
                input(id = 'passwordConfirmation', type='password',
                name='passwordConfirmation', placeholder='不少于5位')
                br
                input(class="btn btn-primary btn-lg", type='submit', value='提交', style="width:100px", role="button")
                br
                a(class="btn btn-link" role="button" href='./login') 已有账号？立即登录


