extends layout

block content

    div(class="jumbotron")
        div(class= "conrainer")
            h1= title
            p Welcome to #{title}
            p [11月13日22:54] 终于可以更改密码啦\(^o^)/~
            p [11月20日00:00] 经过一波纠结，第二道题目web2也终于上线了，快来试试吧n(*≧▽≦*)n
            p [11月20日01:38] TTCTF新注册用户可以起用户名啦，不过还不能改名而且仍然还是要用学号登录哦^_^
            p [11月26日10:38] web3横空出世，以及，更新了一波数据库，登录不上的话请重新注册，sorry～
            a(class="btn btn-link" href="./balabala" role="button" id='balabutton') bala墙功能v1.1正式上线啦,快来balabala吧~~~





